.code-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
  margin: 25px 0;
  padding-top: 14px;
}
.code-wrapper ::-webkit-scrollbar {
  height: 5px;
}
.code-wrapper ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  height: 5px;
  border-radius: 10px;
}
.code-wrapper ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.code-wrapper::before {
  color: #fff;
  content: attr(data-rel);
  border-radius: 5px;
  height: 25px;
  line-height: 30px;
  background: #21252b;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 0 80px;
  text-indent: 15px;
  float: left;
}
.code-wrapper::after {
  content: ' ';
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 10px;
  margin-top: 4px;
  -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  z-index: 3;
}
.code-wrapper > pre {
  margin-bottom: 0;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #322931;
}
code {
  color: #c4c6c9;
}
pre.language-none {
  padding-left: 15px;
}
.copy-btn {
  top: 0.3rem!important;
}